BOOTSTRAP_SERVER={{mongo_kafka_public_ip}}:9093
MONGO_URI=mongodb://{{mongo_username}}:{{mongo_password}}@{{mongo_kafka_public_ip}}:27017
MONGO_DATABASE=mydb
MONGO_COLLECTION=mycol
TOPIC=my-topic
CONSUMER_ID=1
